@keyframes main {
	from {
		filter: brightness(0.3);
	}

	to {
		filter: brightness(1);
	}
}

:root {
	color-scheme: dark;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 1.2em;
	background-color: #191717;
	color-scheme: dark;
	user-select: darkgreen;
}

::selection {
    color: white;
	background: darkgreen;
}

img:not(#wave) {
	animation: main 2s;
	animation-fill-mode: forwards;
}

.links > a:hover {
	filter: brightness(0.9);
}

.sl {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40vh;
	width: 100%;
	height: 100%;
}

.links > a {
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	filter: grayscale(10) brightness(0.5);
}

.links > a > img:hover {
	transform: rotateZ(15deg);
}

.links > a > img {
	width: 2.7em;
	transition: transform 0.5s;
}

#wave {
	width: 100%;
	box-shadow: 0 1rem 0 #23c325;
}

#about {
	padding: 3em;
	background: #23c325;
	margin: 0;
	color: black;
}

h1{
    text-align: center;
}
